In [8]:
import math
import pandas as pd
import numpy as np

In [2]:
hg38 = pd.read_csv('/gpfs/commons/groups/knowles_lab/data/ADSP_reguloML/summary_stats/alzheimers/fixed_alzheimers/processed/bellenguez_hg38_from_parquet.tsv', sep = '\t')

In [4]:
## check what column we need
## cojo needs SNP A1 A2 freq b se p N 
hg38

          CHR        BP           SNP A2 A1         Z       N       MAF
0           1    594445   rs888953847  C  T -0.046891   42140  0.000355
1           1    646157  rs1250812823  G  A -0.951994   42140  0.001682
2           1    730012  rs1362083662  G  T -0.070118   42140  0.002223
3           1    730804  rs1039158266  G  T  0.230633   55422  0.000439
4           1    730869   rs200188737  C  T  0.374275  429855  0.001672
...       ...       ...           ... .. ..       ...     ...       ...
15954868   22  50796846  rs1173631322  A  G -0.868355   42140  0.000711
15954869   22  50796989  rs1185943124  T  G  1.283834   52323  0.000490
15954870   22  50797531   rs200189535  T  C  0.906635  477993  0.156239
15954871   22  50798635     rs3896457  T  C  0.430819  486567  0.299703
15954872   22  50799107   rs782195205  A  C  0.225873   55422  0.000270

[15954873 rows x 8 columns]

In [12]:
hg38['se'] = 1/np.sqrt(2*hg38.N*hg38.MAF*(1-hg38.MAF))

In [14]:
hg38['b'] = hg38.Z * hg38.se

In [16]:
from scipy.stats import norm
hg38['p'] = 2 * (1 - norm.cdf(np.abs(hg38.Z)))

In [27]:
hg38 = hg38.rename(columns = {"MAF":'freq'})

In [29]:
##SNP A1 A2 freq b se p N 
save = hg38.loc[:,["SNP", "A1", "A2", "freq", "b" ,"se" ,"p" ,"N"]]
save

                   SNP A1 A2      freq         b        se       p       N
0          rs888953847  T  C  0.000355 -0.008570  0.182758  0.9626   42140
1         rs1250812823  A  G  0.001682 -0.080035  0.084071  0.3411   42140
2         rs1362083662  T  G  0.002223 -0.005128  0.073139  0.9441   42140
3         rs1039158266  T  G  0.000439  0.033084  0.143448  0.8176   55422
4          rs200188737  T  C  0.001672  0.009879  0.026395  0.7082  429855
...                ... .. ..       ...       ...       ...     ...     ...
15954868  rs1173631322  G  A  0.000711 -0.112224  0.129237  0.3852   42140
15954869  rs1185943124  G  T  0.000490  0.179389  0.139729  0.1992   52323
15954870   rs200189535  C  T  0.156239  0.002554  0.002817  0.3646  477993
15954871     rs3896457  C  T  0.299703  0.000953  0.002213  0.6666  486567
15954872   rs782195205  C  A  0.000270  0.041304  0.182864  0.8213   55422

[15954873 rows x 8 columns]

In [30]:
save.to_csv('/gpfs/commons/groups/knowles_lab/data/ADSP_reguloML/summary_stats/alzheimers/fixed_alzheimers/processed/sbayesrc/bellenguez_hg38_from_parquet.cojo', sep = '\t', index = False)

In [33]:
hg38[hg38.CHR==21].loc[:,["SNP", "A1", "A2", "freq", "b" ,"se" ,"p" ,"N"]].to_csv('/gpfs/commons/groups/knowles_lab/data/ADSP_reguloML/summary_stats/alzheimers/fixed_alzheimers/processed/sbayesrc/bellenguez_hg38_chr21_from_parquet.cojo', sep = '\t', index = False)