In [1]:
import pandas as pd
import numpy as np

In [2]:
old_bellenguez = pd.read_csv('/gpfs/commons/groups/knowles_lab/data/ADSP_reguloML/summary_stats/alzheimers/fixed_alzheimers/Bellenguez_et_al_2021_hg37_ldsc.tsv.gz', compression = 'gzip', sep = '\t')
new_bellenguez = pd.read_csv('/gpfs/commons/groups/knowles_lab/data/ADSP_reguloML/summary_stats/alzheimers/fixed_alzheimers/Bellenguez_et_al_2021_hg37_new_sep20_fix_chr.tsv', sep = '\t')
new_bellenguez_grch38 = pd.read_csv('/gpfs/commons/groups/knowles_lab/data/ADSP_reguloML/summary_stats/alzheimers/bellenguez_2021/Bellenguez_et_al_2021_hg38.tsv.gz', compression='gzip', sep = '\t')

## old vs new
* lost 56286 (0.3% of SNP)
* All columns in old bellenguez were found in new bellenguez
* New bellenguez has some redundnent column:
      **  SNP & VARIANT_ID
      **  BP & BASE_PAIR_LOCATION

In [4]:
print(old_bellenguez.shape)
print(new_bellenguez.shape) 
print(old_bellenguez.columns)
print(new_bellenguez.columns)

(18388670, 15)
(18332384, 21)
Index(['SNP', 'CHR', 'BP', 'A1', 'A2', 'FREQ1', 'BETA', 'STDERR', 'P',
       'HETISQ', 'HETPVAL', 'N_CAS', 'N_CON', 'N', 'Z'],
      dtype='object')
Index(['SNP', 'CHR', 'BP', 'A1', 'A2', 'VARIANT_ID', 'P', 'BASE_PAIR_LOCATION',
       'FRQ', 'ODDS_RATIO', 'CI_LOWER', 'CI_UPPER', 'BETA', 'SE', 'N_CAS',
       'N_CON', 'HET_ISQ', 'HETPVAL', 'Z', 'IMPUTATION_gen_build', 'N'],
      dtype='object')

In [20]:
old_bellenguez.head()

,SNP,CHR,BP,A1,A2,FREQ1,BETA,STDERR,P,HETISQ,HETPVAL,N_CAS,N_CON,N,Z
0,rs151190501,1,662613,G,A,0.0191,0.0210,0.0453,0.64240,0.0,0.94670,81166,386644,467810,0.464346
1,rs61769339,1,662622,G,A,0.1105,-0.0328,0.0167,0.04962,5.5,0.38150,78766,380306,459072,-1.963225
2,rs200188737,1,666249,C,T,0.0038,-0.0617,0.1648,0.70820,0.0,0.44510,69576,360279,429855,-0.374275
3,rs146067153,1,676118,C,T,0.0733,0.0407,0.0235,0.08374,29.0,0.22850,78401,374200,452601,1.729386
4,rs150820983,1,676127,C,T,0.0193,0.0416,0.0502,0.40790,62.5,0.06959,76073,367064,443137,0.827595

In [21]:
new_bellenguez.head()

,SNP,CHR,BP,A1,A2,VARIANT_ID,P,BASE_PAIR_LOCATION,FRQ,ODDS_RATIO,...,CI_UPPER,BETA,SE,N_CAS,N_CON,HET_ISQ,HETPVAL,Z,IMPUTATION_gen_build,N
0,rs151190501,1,662613,G,A,rs151190501,0.64240,727233,0.9809,0.979,...,1.070,0.0210,0.0453,81166,386644,0.0,0.94670,0.464346,True,467810
1,rs61769339,1,662622,G,A,rs61769339,0.04962,727242,0.8895,1.033,...,1.068,-0.0328,0.0167,78766,380306,5.5,0.38150,-1.963225,True,459072
2,rs200188737,1,666249,C,T,rs200188737,0.70820,730869,0.9962,1.064,...,1.469,-0.0617,0.1648,69576,360279,0.0,0.44510,-0.374275,True,429855
3,rs146067153,1,676118,C,T,rs146067153,0.08374,740738,0.9267,0.960,...,1.005,0.0407,0.0235,78401,374200,29.0,0.22850,1.729386,True,452601
4,rs150820983,1,676127,C,T,rs150820983,0.40790,740747,0.9807,0.959,...,1.058,0.0416,0.0502,76073,367064,62.5,0.06959,0.827595,True,443137

### check SNP vs VARIANT_ID

In [3]:
inconsistent_rsid = new_bellenguez[new_bellenguez.SNP!= new_bellenguez.VARIANT_ID]
inconsistent_rsid

,SNP,CHR,BP,A1,A2,VARIANT_ID,P,BASE_PAIR_LOCATION,FRQ,ODDS_RATIO,...,CI_UPPER,BETA,SE,N_CAS,N_CON,HET_ISQ,HETPVAL,Z,IMPUTATION_gen_build,N
14,rs115229562,1,707886,G,C,rs78250985,0.51190,772506,0.9314,1.017,...,1.068,-0.0166,0.0253,80801,380538,0.0,0.7075,-0.655882,True,461339
24,rs139182182,1,714439,G,A,rs74707816,0.72290,779059,0.9980,1.070,...,1.557,-0.0678,0.1913,69576,360279,0.0,0.5360,-0.354586,True,429855
44,rs374222127,1,721054,T,C,rs79249784,0.75830,785674,0.0005,0.892,...,1.851,0.1147,0.3726,69576,360279,0.0,0.6289,0.307714,True,429855
61,rs55744711,1,728951,C,T,rs11240767,0.95030,793571,0.9978,1.011,...,1.430,-0.0110,0.1768,76073,367064,0.0,0.4982,-0.062330,True,443137
71,rs142557973,1,731718,T,C,rs58276399,0.05685,796338,0.1187,0.971,...,1.001,0.0295,0.0155,78907,382267,1.0,0.4165,1.904462,True,461174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18332262,rs143051537,22,51190878,G,A,rs5771004,0.82730,50752450,0.5674,1.002,...,1.020,-0.0020,0.0092,84196,393797,0.0,0.8684,-0.218166,True,477993
18332344,rs114168474,22,51202376,G,A,rs6010081,0.32860,50763948,0.9835,0.960,...,1.042,0.0408,0.0417,84196,393797,17.3,0.2934,0.976938,True,477993
18332361,rs117212972,22,51216679,C,A,rs2747986,0.93740,50778251,0.5855,0.999,...,1.018,0.0007,0.0095,84196,393797,0.0,0.9059,0.078538,True,477993
18332377,rs138384468,22,51228259,A,G,rs7289043,0.80120,50789831,0.0703,0.994,...,1.039,0.0057,0.0226,34921,55357,18.8,0.2867,0.251794,True,90278
18332381,rs62240045,22,51235979,G,A,rs5771026,0.16800,50797551,0.7124,0.984,...,1.007,0.0162,0.0118,84196,393797,0.0,0.6772,1.378659,True,477993

In [39]:
new_bellenguez_grch38[(new_bellenguez_grch38.CHR=='chr1') & (new_bellenguez_grch38.BP ==772506)]  
## 37 -> 38 BP liftover info from dbSNP
## https://www.ncbi.nlm.nih.gov/snp/?term=rs78250985

,SNP,CHR,BP,A1,A2,VARIANT_ID,P,BASE_PAIR_LOCATION,FRQ,ODDS_RATIO,CI_LOWER,CI_UPPER,BETA,SE,N_CAS,N_CON,HET_ISQ,HETPVAL,Z,N
14,rs115229562,chr1,772506,G,C,rs78250985,0.5119,772506,0.9314,1.017,0.968,1.068,-0.0166,0.0253,80801,380538,0.0,0.7075,-0.655882,461339

In [31]:
old_bellenguez[(old_bellenguez.CHR==1) & (old_bellenguez.BP ==707886)]

,SNP,CHR,BP,A1,A2,FREQ1,BETA,STDERR,P,HETISQ,HETPVAL,N_CAS,N_CON,N,Z
14,rs115229562,1,707886,G,C,0.0686,-0.0166,0.0253,0.5119,0.0,0.7075,80801,380538,461339,-0.655882

In [40]:
new_bellenguez.shape

(18332384, 21)

In [42]:
38238/18332384 *100

0.20858170983108362

### check BP vs BASE_PAIR_LOCATION
BP is in GRCh37, while BASE_PAIR_LOCAION is in GRCh38 (a.k.a. i can directly remove "BASE_PAIR_LOCATION" column and only focus on BP")

In [8]:
new_bellenguez[new_bellenguez.BP!= new_bellenguez.BASE_PAIR_LOCATION]

,SNP,CHR,BP,A1,A2,VARIANT_ID,P,BASE_PAIR_LOCATION,FRQ,ODDS_RATIO,...,CI_UPPER,BETA,SE,N_CAS,N_CON,HET_ISQ,HETPVAL,Z,IMPUTATION_gen_build,N
0,rs151190501,1,662613,G,A,rs151190501,0.64240,727233,0.9809,0.979,...,1.070,0.0210,0.0453,81166,386644,0.0,0.94670,0.464346,True,467810
1,rs61769339,1,662622,G,A,rs61769339,0.04962,727242,0.8895,1.033,...,1.068,-0.0328,0.0167,78766,380306,5.5,0.38150,-1.963225,True,459072
2,rs200188737,1,666249,C,T,rs200188737,0.70820,730869,0.9962,1.064,...,1.469,-0.0617,0.1648,69576,360279,0.0,0.44510,-0.374275,True,429855
3,rs146067153,1,676118,C,T,rs146067153,0.08374,740738,0.9267,0.960,...,1.005,0.0407,0.0235,78401,374200,29.0,0.22850,1.729386,True,452601
4,rs150820983,1,676127,C,T,rs150820983,0.40790,740747,0.9807,0.959,...,1.058,0.0416,0.0502,76073,367064,62.5,0.06959,0.827595,True,443137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18332379,rs764597437,22,51234033,C,T,rs764597437,0.35240,50795605,0.9989,0.844,...,1.207,0.1701,0.1829,69576,360279,0.0,0.59290,0.929944,True,429855
18332380,rs200189535,22,51235959,T,C,rs200189535,0.36460,50797531,0.1653,0.988,...,1.015,0.0125,0.0138,84196,393797,0.0,0.89730,0.906635,True,477993
18332381,rs62240045,22,51235979,G,A,rs5771026,0.16800,50797551,0.7124,0.984,...,1.007,0.0162,0.0118,84196,393797,0.0,0.67720,1.378659,True,477993
18332382,rs3896457,22,51237063,T,C,rs3896457,0.66660,50798635,0.2817,0.996,...,1.016,0.0044,0.0103,85665,400902,0.0,0.51530,0.430819,True,486567
18332383,rs149733995,22,51238249,A,C,rs149733995,0.66730,50799821,0.0737,1.010,...,1.056,-0.0098,0.0228,34921,55357,0.0,0.47220,-0.429857,True,90278

### Check if SD, FREQ and p are equal in new bellenguez vs the old one
 they are all the same

In [3]:
overlap = new_bellenguez.loc[:,['SNP','CHR', 'BP','A1','A2','FRQ','BETA','SE','P']].merge(old_bellenguez, on=['SNP','CHR','BP','A1','A2'], how ='inner')

In [7]:
overlap[(overlap.BETA_x != overlap.BETA_y) | (overlap.SE != overlap.STDERR)| (overlap.P_x != overlap.P_y) ]

Empty DataFrame
Columns: [SNP, CHR, BP, A1, A2, FRQ, BETA_x, SE, P_x, FREQ1, BETA_y, STDERR, P_y, HETISQ, HETPVAL, N_CAS, N_CON, N, Z]
Index: []

### merge with the correct RSID (a.k.a. the one thats reported in UKBB)
(only need to deal with the non-consistent ones that i analysized in the first step

In [4]:
UKBB = pd.read_csv('/gpfs/commons/groups/knowles_lab/data/ldsc/polyfun/baselineLF2.2.UKB/UKB_rsid_clean.txt', sep = '\t')
UKBB

          CHR          SNP        BP A1  A2
0           1  rs367896724     10177  A  AC
1           1  rs201106462     10352  T  TA
2           1  rs534229142     10511  G   A
3           1  rs575272151     11008  C   G
4           1  rs544419019     11012  C   G
...       ...          ...       ... ..  ..
18463174   22  rs561893765  51239794  C   A
18463175   22  rs529322970  51240084  G   C
18463176   22  rs202228854  51240820  C   T
18463177   22  rs568168135  51241386  C   G
18463178   22  rs575160859  51244237  C   T

[18463179 rows x 5 columns]

In [5]:
merge_UKBB = inconsistent_rsid.merge(UKBB, on=['CHR','BP','A1','A2'])

In [6]:
merge_UKBB[merge_UKBB.SNP_y.duplicated()]

Empty DataFrame
Columns: [SNP_x, CHR, BP, A1, A2, VARIANT_ID, P, BASE_PAIR_LOCATION, FRQ, ODDS_RATIO, CI_LOWER, CI_UPPER, BETA, SE, N_CAS, N_CON, HET_ISQ, HETPVAL, Z, IMPUTATION_gen_build, N, SNP_y]
Index: []

[0 rows x 22 columns]

In [7]:
print(merge_UKBB.shape)
print(merge_UKBB[merge_UKBB.VARIANT_ID == merge_UKBB.SNP_y].shape)
print(merge_UKBB[merge_UKBB.SNP_x == merge_UKBB.SNP_y].shape)

(27203, 22)
(24145, 22)
(2870, 22)

In [69]:
print(27203/38238)
38238-27203

0.7114127307913594

11035

In [6]:
merge_UKBB.SNP_x = merge_UKBB.SNP_y
merge_UKBB = merge_UKBB.rename(columns={'SNP_x':'SNP'}).drop(columns=['SNP_y'])

In [7]:
merge_UKBB

,SNP,CHR,BP,A1,A2,VARIANT_ID,P,BASE_PAIR_LOCATION,FRQ,ODDS_RATIO,...,CI_UPPER,BETA,SE,N_CAS,N_CON,HET_ISQ,HETPVAL,Z,IMPUTATION_gen_build,N
0,rs115229562,1,707886,G,C,rs78250985,0.51190,772506,0.9314,1.017,...,1.068,-0.0166,0.0253,80801,380538,0.0,0.7075,-0.655882,True,461339
1,rs139182182,1,714439,G,A,rs74707816,0.72290,779059,0.9980,1.070,...,1.557,-0.0678,0.1913,69576,360279,0.0,0.5360,-0.354586,True,429855
2,rs11240767,1,728951,C,T,rs11240767,0.95030,793571,0.9978,1.011,...,1.430,-0.0110,0.1768,76073,367064,0.0,0.4982,-0.062330,True,443137
3,rs58276399,1,731718,T,C,rs58276399,0.05685,796338,0.1187,0.971,...,1.001,0.0295,0.0155,78907,382267,1.0,0.4165,1.904462,True,461174
4,rs201849753,1,741267,T,C,rs80183632,0.69140,805887,0.0019,0.927,...,1.349,0.0759,0.1913,69576,360279,0.0,0.5720,0.396956,True,429855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27198,rs9680673,22,51190246,A,C,rs9680673,0.13570,50751818,0.0071,0.896,...,1.035,0.1093,0.0733,81503,380555,0.0,0.7020,1.491997,True,462058
27199,rs5771004,22,51190878,G,A,rs5771004,0.82730,50752450,0.5674,1.002,...,1.020,-0.0020,0.0092,84196,393797,0.0,0.8684,-0.218166,True,477993
27200,rs6010081,22,51202376,G,A,rs6010081,0.32860,50763948,0.9835,0.960,...,1.042,0.0408,0.0417,84196,393797,17.3,0.2934,0.976938,True,477993
27201,rs2747986,22,51216679,C,A,rs2747986,0.93740,50778251,0.5855,0.999,...,1.018,0.0007,0.0095,84196,393797,0.0,0.9059,0.078538,True,477993
27202,rs5771026,22,51235979,G,A,rs5771026,0.16800,50797551,0.7124,0.984,...,1.007,0.0162,0.0118,84196,393797,0.0,0.6772,1.378659,True,477993

In [11]:
new_bellenguez[~new_bellenguez.isin(inconsistent_rsid)]

,SNP,CHR,BP,A1,A2,VARIANT_ID,P,BASE_PAIR_LOCATION,FRQ,ODDS_RATIO,...,CI_UPPER,BETA,SE,N_CAS,N_CON,HET_ISQ,HETPVAL,Z,IMPUTATION_gen_build,N
0,rs151190501,1.0,662613.0,G,A,rs151190501,0.64240,727233.0,0.9809,0.979,...,1.070,0.0210,0.0453,81166.0,386644.0,0.0,0.94670,0.464346,1.0,467810.0
1,rs61769339,1.0,662622.0,G,A,rs61769339,0.04962,727242.0,0.8895,1.033,...,1.068,-0.0328,0.0167,78766.0,380306.0,5.5,0.38150,-1.963225,1.0,459072.0
2,rs200188737,1.0,666249.0,C,T,rs200188737,0.70820,730869.0,0.9962,1.064,...,1.469,-0.0617,0.1648,69576.0,360279.0,0.0,0.44510,-0.374275,1.0,429855.0
3,rs146067153,1.0,676118.0,C,T,rs146067153,0.08374,740738.0,0.9267,0.960,...,1.005,0.0407,0.0235,78401.0,374200.0,29.0,0.22850,1.729386,1.0,452601.0
4,rs150820983,1.0,676127.0,C,T,rs150820983,0.40790,740747.0,0.9807,0.959,...,1.058,0.0416,0.0502,76073.0,367064.0,62.5,0.06959,0.827595,1.0,443137.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18332378,rs9616985,22.0,51229805.0,T,C,rs9616985,0.99430,50791377.0,0.0718,1.000,...,1.034,0.0001,0.0169,85665.0,400902.0,17.6,0.27600,0.007144,1.0,486567.0
18332379,rs764597437,22.0,51234033.0,C,T,rs764597437,0.35240,50795605.0,0.9989,0.844,...,1.207,0.1701,0.1829,69576.0,360279.0,0.0,0.59290,0.929944,1.0,429855.0
18332380,rs200189535,22.0,51235959.0,T,C,rs200189535,0.36460,50797531.0,0.1653,0.988,...,1.015,0.0125,0.0138,84196.0,393797.0,0.0,0.89730,0.906635,1.0,477993.0
18332382,rs3896457,22.0,51237063.0,T,C,rs3896457,0.66660,50798635.0,0.2817,0.996,...,1.016,0.0044,0.0103,85665.0,400902.0,0.0,0.51530,0.430819,1.0,486567.0
18332383,rs149733995,22.0,51238249.0,A,C,rs149733995,0.66730,50799821.0,0.0737,1.010,...,1.056,-0.0098,0.0228,34921.0,55357.0,0.0,0.47220,-0.429857,1.0,90278.0

In [11]:
bellenguez_merged = new_bellenguez[~new_bellenguez.isin(inconsistent_rsid)].dropna()

In [ ]:
bellenguez_merged

(18294146, 21)

In [22]:
bellenguez_merged = pd.concat([bellenguez_merged,merge_UKBB])

In [23]:
bellenguez_merged = bellenguez_merged.drop(columns=['VARIANT_ID', 'BASE_PAIR_LOCATION'])

In [27]:
bellenguez_merged

,SNP,CHR,BP,A1,A2,P,FRQ,ODDS_RATIO,CI_LOWER,CI_UPPER,BETA,SE,N_CAS,N_CON,HET_ISQ,HETPVAL,Z,IMPUTATION_gen_build,N
0,rs151190501,1.0,662613.0,G,A,0.64240,0.9809,0.979,0.896,1.070,0.0210,0.0453,81166.0,386644.0,0.0,0.94670,0.464346,1.0,467810.0
1,rs61769339,1.0,662622.0,G,A,0.04962,0.8895,1.033,1.000,1.068,-0.0328,0.0167,78766.0,380306.0,5.5,0.38150,-1.963225,1.0,459072.0
2,rs200188737,1.0,666249.0,C,T,0.70820,0.9962,1.064,0.770,1.469,-0.0617,0.1648,69576.0,360279.0,0.0,0.44510,-0.374275,1.0,429855.0
3,rs146067153,1.0,676118.0,C,T,0.08374,0.9267,0.960,0.917,1.005,0.0407,0.0235,78401.0,374200.0,29.0,0.22850,1.729386,1.0,452601.0
4,rs150820983,1.0,676127.0,C,T,0.40790,0.9807,0.959,0.869,1.058,0.0416,0.0502,76073.0,367064.0,62.5,0.06959,0.827595,1.0,443137.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27198,rs9680673,22.0,51190246.0,A,C,0.13570,0.0071,0.896,0.776,1.035,0.1093,0.0733,81503.0,380555.0,0.0,0.70200,1.491997,1.0,462058.0
27199,rs5771004,22.0,51190878.0,G,A,0.82730,0.5674,1.002,0.984,1.020,-0.0020,0.0092,84196.0,393797.0,0.0,0.86840,-0.218166,1.0,477993.0
27200,rs6010081,22.0,51202376.0,G,A,0.32860,0.9835,0.960,0.885,1.042,0.0408,0.0417,84196.0,393797.0,17.3,0.29340,0.976938,1.0,477993.0
27201,rs2747986,22.0,51216679.0,C,A,0.93740,0.5855,0.999,0.981,1.018,0.0007,0.0095,84196.0,393797.0,0.0,0.90590,0.078538,1.0,477993.0
27202,rs5771026,22.0,51235979.0,G,A,0.16800,0.7124,0.984,0.961,1.007,0.0162,0.0118,84196.0,393797.0,0.0,0.67720,1.378659,1.0,477993.0

In [28]:
bellenguez_merged[['CHR','BP','N_CAS','N_CON','N']] = bellenguez_merged[['CHR','BP','N_CAS','N_CON','N']].apply(np.int64)

In [29]:
bellenguez_merged

,SNP,CHR,BP,A1,A2,P,FRQ,ODDS_RATIO,CI_LOWER,CI_UPPER,BETA,SE,N_CAS,N_CON,HET_ISQ,HETPVAL,Z,IMPUTATION_gen_build,N
0,rs151190501,1,662613,G,A,0.64240,0.9809,0.979,0.896,1.070,0.0210,0.0453,81166,386644,0.0,0.94670,0.464346,1.0,467810
1,rs61769339,1,662622,G,A,0.04962,0.8895,1.033,1.000,1.068,-0.0328,0.0167,78766,380306,5.5,0.38150,-1.963225,1.0,459072
2,rs200188737,1,666249,C,T,0.70820,0.9962,1.064,0.770,1.469,-0.0617,0.1648,69576,360279,0.0,0.44510,-0.374275,1.0,429855
3,rs146067153,1,676118,C,T,0.08374,0.9267,0.960,0.917,1.005,0.0407,0.0235,78401,374200,29.0,0.22850,1.729386,1.0,452601
4,rs150820983,1,676127,C,T,0.40790,0.9807,0.959,0.869,1.058,0.0416,0.0502,76073,367064,62.5,0.06959,0.827595,1.0,443137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27198,rs9680673,22,51190246,A,C,0.13570,0.0071,0.896,0.776,1.035,0.1093,0.0733,81503,380555,0.0,0.70200,1.491997,1.0,462058
27199,rs5771004,22,51190878,G,A,0.82730,0.5674,1.002,0.984,1.020,-0.0020,0.0092,84196,393797,0.0,0.86840,-0.218166,1.0,477993
27200,rs6010081,22,51202376,G,A,0.32860,0.9835,0.960,0.885,1.042,0.0408,0.0417,84196,393797,17.3,0.29340,0.976938,1.0,477993
27201,rs2747986,22,51216679,C,A,0.93740,0.5855,0.999,0.981,1.018,0.0007,0.0095,84196,393797,0.0,0.90590,0.078538,1.0,477993
27202,rs5771026,22,51235979,G,A,0.16800,0.7124,0.984,0.961,1.007,0.0162,0.0118,84196,393797,0.0,0.67720,1.378659,1.0,477993

In [32]:
bellenguez_merged.to_csv('/gpfs/commons/groups/knowles_lab/data/ADSP_reguloML/summary_stats/alzheimers/fixed_alzheimers/processed/Bellenguez_et_al_2021_hg37_new_sep20.tsv.gz', sep = '\t', compression='gzip', index = False)