In [1]:
import pandas as pd

In [14]:
old_bellenguez = pd.read_csv('/gpfs/commons/groups/knowles_lab/data/ADSP_reguloML/summary_stats/alzheimers/fixed_alzheimers/Bellenguez_et_al_2021_hg37_ldsc.tsv.gz', compression = 'gzip', sep = '\t')
new_bellenguez = pd.read_csv('/gpfs/commons/groups/knowles_lab/data/ADSP_reguloML/summary_stats/alzheimers/fixed_alzheimers/Bellenguez_et_al_2021_hg37_new_sep20_fix_chr.tsv', sep = '\t')
new_bellenguez_grch38 = pd.read_csv('/gpfs/commons/groups/knowles_lab/data/ADSP_reguloML/summary_stats/alzheimers/bellenguez_2021/Bellenguez_et_al_2021_hg38.tsv.gz', compression='gzip', sep = '\t')

In [17]:
print(old_bellenguez.shape)
print(new_bellenguez.shape)
print(old_bellenguez.columns)
print(new_bellenguez.columns)

(18388670, 15)
(18332384, 21)
Index(['SNP', 'CHR', 'BP', 'A1', 'A2', 'FREQ1', 'BETA', 'STDERR', 'P',
       'HETISQ', 'HETPVAL', 'N_CAS', 'N_CON', 'N', 'Z'],
      dtype='object')
Index(['SNP', 'CHR', 'BP', 'A1', 'A2', 'VARIANT_ID', 'P', 'BASE_PAIR_LOCATION',
       'FRQ', 'ODDS_RATIO', 'CI_LOWER', 'CI_UPPER', 'BETA', 'SE', 'N_CAS',
       'N_CON', 'HET_ISQ', 'HETPVAL', 'Z', 'IMPUTATION_gen_build', 'N'],
      dtype='object')

In [20]:
old_bellenguez.head()

,SNP,CHR,BP,A1,A2,FREQ1,BETA,STDERR,P,HETISQ,HETPVAL,N_CAS,N_CON,N,Z
0,rs151190501,1,662613,G,A,0.0191,0.0210,0.0453,0.64240,0.0,0.94670,81166,386644,467810,0.464346
1,rs61769339,1,662622,G,A,0.1105,-0.0328,0.0167,0.04962,5.5,0.38150,78766,380306,459072,-1.963225
2,rs200188737,1,666249,C,T,0.0038,-0.0617,0.1648,0.70820,0.0,0.44510,69576,360279,429855,-0.374275
3,rs146067153,1,676118,C,T,0.0733,0.0407,0.0235,0.08374,29.0,0.22850,78401,374200,452601,1.729386
4,rs150820983,1,676127,C,T,0.0193,0.0416,0.0502,0.40790,62.5,0.06959,76073,367064,443137,0.827595

In [21]:
new_bellenguez.head()

,SNP,CHR,BP,A1,A2,VARIANT_ID,P,BASE_PAIR_LOCATION,FRQ,ODDS_RATIO,...,CI_UPPER,BETA,SE,N_CAS,N_CON,HET_ISQ,HETPVAL,Z,IMPUTATION_gen_build,N
0,rs151190501,1,662613,G,A,rs151190501,0.64240,727233,0.9809,0.979,...,1.070,0.0210,0.0453,81166,386644,0.0,0.94670,0.464346,True,467810
1,rs61769339,1,662622,G,A,rs61769339,0.04962,727242,0.8895,1.033,...,1.068,-0.0328,0.0167,78766,380306,5.5,0.38150,-1.963225,True,459072
2,rs200188737,1,666249,C,T,rs200188737,0.70820,730869,0.9962,1.064,...,1.469,-0.0617,0.1648,69576,360279,0.0,0.44510,-0.374275,True,429855
3,rs146067153,1,676118,C,T,rs146067153,0.08374,740738,0.9267,0.960,...,1.005,0.0407,0.0235,78401,374200,29.0,0.22850,1.729386,True,452601
4,rs150820983,1,676127,C,T,rs150820983,0.40790,740747,0.9807,0.959,...,1.058,0.0416,0.0502,76073,367064,62.5,0.06959,0.827595,True,443137

In [24]:
new_bellenguez[new_bellenguez.SNP!= new_bellenguez.VARIANT_ID]

,SNP,CHR,BP,A1,A2,VARIANT_ID,P,BASE_PAIR_LOCATION,FRQ,ODDS_RATIO,...,CI_UPPER,BETA,SE,N_CAS,N_CON,HET_ISQ,HETPVAL,Z,IMPUTATION_gen_build,N
14,rs115229562,1,707886,G,C,rs78250985,0.51190,772506,0.9314,1.017,...,1.068,-0.0166,0.0253,80801,380538,0.0,0.7075,-0.655882,True,461339
24,rs139182182,1,714439,G,A,rs74707816,0.72290,779059,0.9980,1.070,...,1.557,-0.0678,0.1913,69576,360279,0.0,0.5360,-0.354586,True,429855
44,rs374222127,1,721054,T,C,rs79249784,0.75830,785674,0.0005,0.892,...,1.851,0.1147,0.3726,69576,360279,0.0,0.6289,0.307714,True,429855
61,rs55744711,1,728951,C,T,rs11240767,0.95030,793571,0.9978,1.011,...,1.430,-0.0110,0.1768,76073,367064,0.0,0.4982,-0.062330,True,443137
71,rs142557973,1,731718,T,C,rs58276399,0.05685,796338,0.1187,0.971,...,1.001,0.0295,0.0155,78907,382267,1.0,0.4165,1.904462,True,461174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18332262,rs143051537,22,51190878,G,A,rs5771004,0.82730,50752450,0.5674,1.002,...,1.020,-0.0020,0.0092,84196,393797,0.0,0.8684,-0.218166,True,477993
18332344,rs114168474,22,51202376,G,A,rs6010081,0.32860,50763948,0.9835,0.960,...,1.042,0.0408,0.0417,84196,393797,17.3,0.2934,0.976938,True,477993
18332361,rs117212972,22,51216679,C,A,rs2747986,0.93740,50778251,0.5855,0.999,...,1.018,0.0007,0.0095,84196,393797,0.0,0.9059,0.078538,True,477993
18332377,rs138384468,22,51228259,A,G,rs7289043,0.80120,50789831,0.0703,0.994,...,1.039,0.0057,0.0226,34921,55357,18.8,0.2867,0.251794,True,90278
18332381,rs62240045,22,51235979,G,A,rs5771026,0.16800,50797551,0.7124,0.984,...,1.007,0.0162,0.0118,84196,393797,0.0,0.6772,1.378659,True,477993

In [39]:
new_bellenguez_grch38[(new_bellenguez_grch38.CHR=='chr1') & (new_bellenguez_grch38.BP ==772506)]  
## 37 -> 38 BP liftover info from dbSNP
## https://www.ncbi.nlm.nih.gov/snp/?term=rs78250985

,SNP,CHR,BP,A1,A2,VARIANT_ID,P,BASE_PAIR_LOCATION,FRQ,ODDS_RATIO,CI_LOWER,CI_UPPER,BETA,SE,N_CAS,N_CON,HET_ISQ,HETPVAL,Z,N
14,rs115229562,chr1,772506,G,C,rs78250985,0.5119,772506,0.9314,1.017,0.968,1.068,-0.0166,0.0253,80801,380538,0.0,0.7075,-0.655882,461339

In [31]:
old_bellenguez[(old_bellenguez.CHR==1) & (old_bellenguez.BP ==707886)]

,SNP,CHR,BP,A1,A2,FREQ1,BETA,STDERR,P,HETISQ,HETPVAL,N_CAS,N_CON,N,Z
14,rs115229562,1,707886,G,C,0.0686,-0.0166,0.0253,0.5119,0.0,0.7075,80801,380538,461339,-0.655882

In [40]:
new_bellenguez.shape

(18332384, 21)

In [42]:
38238/18332384 *100

0.20858170983108362